/* IMPORT AV FONTER */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 1 1000;
    src: url('Font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 1 1000;
    src: url('Font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('Font/Lato/Lato-Regular.ttf') format('truetype');
}

/*
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
*/

:root {
    --cream: #f5f0e8;
    --sand: #d9c9a8;
    --brown: #7a5c3a;
    --dark: #2e1f0f;
    --rust: #b04a1f;
}