/*
Dropper å bruke google fonts i dag
MERK: Sånn er det på prøver når dere ikke har nett!
Da bruker vi lokal font som ligger under "assets"
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
*/

/* Bruker den lokale nedlastede fonten fra PCen */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 500 800;
  font-style: normal;
}

:root {
  /* Primary */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--grayish-blue);
  display: flex;
  background-color: var(--light-grayish-blue-1);
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  max-width: 800px;
  padding: 40px;
  margin: 40px;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: var(--dark-grayish-blue);
}

#counter {
  background-color: var(--blue);
  color: var(--white);
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 20px;
}

h2 {
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: 28px;
}

.boks {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.boks.unread {
  background-color: var(--light-grayish-blue-1);
}

.boks.unread>div>p:first-of-type::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: var(--red);
  border-radius: 50%;
}

.bold {
  color: var(--very-dark-blue);
  font-weight: 800;
}

.semibold {
  color: var(--dark-grayish-blue);
  font-weight: 800;
}

.blue {
  color: var(--blue);
  font-weight: 800;
}

.time {
  color: var(--grayish-blue);
}

.tekstboks {
  margin-left: 110px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid var(--dark-grayish-blue);
  border-radius: 5px;
}