* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    color: white;
}

h1,
h2 {
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

header {
    background-color: rgb(199, 160, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    width: 50px;
}

header a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

header a:hover {
    background-color: purple;
}

nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

section,
.grid-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

section {
    min-height: 100vh;
    padding: 50px;
}

.hero {
    background-image: url(bilder/back.jpg);
    background-position: center;
    background-size: cover;
}

.hero>div {
    background-color: rgba(128, 0, 128, 0.5);
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
}

.hero table {
    width: 100%;
}

table,
tr,
td,
th {
    border: 1px solid lightblue;
    border-collapse: collapse;
    background-color: purple;
    padding: 4px;
    text-align: center;
}

th {
    background-color: blueviolet;
}

#s2 {
    background-color: rgb(199, 160, 236);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
}

.grid-container>div {
    border-radius: 20px;
    background-color: purple;
    transition: 0.5s;
}

.grid-container>div:hover {
    scale: 1.3;
    background-color: rgb(205, 122, 205);
    color: black;
    z-index: 9;
}

.grid-container div:nth-of-type(1),
.grid-container div:nth-of-type(4) {
    grid-column: span 2;
}

@media (width<650px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}