* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    background-color: lightblue;
}

.doors {
    height: 100vh;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.door {
    display: grid;
    justify-items: center;
    align-items: center;
}

.door>img {
    grid-area: 1/1;
}

.goat {
    width: 60%;
    z-index: -1;
}